<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<link th:href="@{styling/Display.css}" rel="stylesheet">
<body>
	<div class="header">
		<img class="logo" src="images/inventory.jpeg">
		<h1 class="title">Aperture Enterprises Inventory Software</h1>
		<div class="header-right">
			<a href="./deleteItem">Delete</a> <a href="./purchase">Record
				Purchase</a> <a href="./addItem">Add</a><a class="active" href="./home">Home</a>

		</div>
	</div>
	<h1 th:text="${chosenCategory}"></h1>
	<div>
		<table class="table" border="1">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Price</th>
				<th>Category</th>
				<th>Stock Quantity</th>
				<th>Cost Price</th>
				<th>Quantity Sold</th>
			</tr>
			<tr class="table-content" th:each="item : ${items}">
				<td th:text="${item.id}"></td>
				<td th:text="${item.name}"></td>
				<td th:text="${item.price}"></td>
				<td th:text="${item.category}"></td>
				<td th:text="${item.quantity}"></td>
				<td th:text="${item.costPrice}"></td>
				<td th:text="${item.quantitySold}"></td>
			</tr>
		</table>
	</div>
	<br>
	<br>
	<a href="./home">Go Back</a>
</body>
</html>